
* {
margin: 0;
padding: 0;
list-style-type:none;
}

.navbar{
  font-size: 30px;
  color: #000000;
  text-decoration-color: black;
  font-family:'Lato', sans-serif; 

  }

.searchbar{position: absolute;
  top: 60px;
  left: 150px;
  width: 700px;
  height: 24px;
  
}
.searchbar:hover {
  box-shadow: 0 0 2px 1px rgba(250, 250, 250, 0.1);
}


.searchbutton{
  position: absolute;
  top: 59px;
  left: 854px;

  background: rgba(0,0,0,0.2);
  display: flex;
}

.wishlist{
  position: absolute;
  top: 45px;
  left: 1134px;
  border-width: 2px ; 
  border-style: solid;
  padding-right: 10px;
  padding-left: 10px;
  border-color: #ffffff #fff #fff #ffff;
}
.profile{
  position: absolute;
  top: 45px;
  left: 1252px;
  text-align: right;
  border-width: 2px ; 
  border-style: solid;
  padding-right: 10px;
  padding-left: 10px;
  border-color: #fff #fff #fff #c4c4c4;
}
.bag{
  position: absolute;
  top: 45px;
  left: 1375px;
  text-align: left;
  border-width: 2px ; 
  border-style: solid;
  padding-right: 10px;
  padding-left: 10px;
  border-color: #ffffff #fff #fff #c4c4c4;
}




.thumb {
  height:140px;
  width:210px;
  top:136px;
  left:12px;
  position:relative;
  background-size:contain;
  box-shadow:-12px 0 0 12px #000;
}
.thumb:last-of-type {
  box-shadow:0 0 0 12px #000;
}
.thumb:after {
  content:attr(title);
  font:normal normal 20pt 'impact';
  position:relative;
}
.thumb:hover {
  -webkit-filter: grayscale(80%);
  -moz-filter: grayscale(80%);
  -ms-filter: grayscale(80%);
  -o-filter: grayscale(80%);
  filter: grayscale(80%);
  filter: url(grayscale.svg#greyscale);
  filter: gray;
}
@-webkit-keyframes TMNT {
  0%  { left: 0px; }
  100% { left: -1200px; }
}
a.prev,a.next {
  height:91px;
  position:absolute;
  width:43px;
  top:50%;
  margin-top:-30px;
  opacity:0.6;
  text-indent:-99999px;
  cursor:pointer;
  -webkit-transition:opacity 200ms ease-out;
}
a.prev:hover,a.next:hover {
  opacity:1;
}
.prev {
  left:0;
  background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -200px 25px;
}
.next {
  right:0;
  background: #000 url('https://lh4.googleusercontent.com/-JN1IZLtuToI/UUoZnMG3C_I/AAAAAAAAAE8/SEbJ9nqXGnY/s226/sprite.png') no-repeat -167px 25px;
}
.slider {
  height:60vh;
  position: relative;
}
.slide {
  position:absolute;
  height:100%;
  width:100%;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}


.slider .slide:target {
  z-index: 100;
}

.buy{position: absolute;
  top: 590px;
  left: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  
}
.buy:hover {
  box-shadow: 0 0 2px 1px rgba(128, 128, 128, 0.6);
}


.design{position: absolute;
  top: 590px;
  left: 771px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
   
}
.design:hover {
  box-shadow: 0 0 2px 1px rgba(128, 128, 128, 0.6);
}


.favbrands{
  font-family:'lato', sans-serif;
  position: absolute;
  top: 1080px;
  left: 14px;
  font-size: 40px;
  color: #000;
  text-decoration: none;
}

.brands{
  position: absolute;
  top: 1140px;
}

.b1{
  position: absolute;
  left: 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.b1:hover {
  box-shadow: 0 0 2px 1px rgba(128, 128, 128, 0.6);
}


.b2{
  position:absolute;
  left: 350px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.b2:hover {
  box-shadow: 0 0 2px 1px rgba(128, 128, 128, 0.6);
}


.b3{
  position:absolute;
  left: 685px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.b3:hover {
  box-shadow: 0 0 2px 1px rgba(128, 128, 128, 0.6);
}


.b4{
  position:absolute;
  left: 1020px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.b4:hover {
  box-shadow: 0 0 2px 1px rgba(128, 128, 128, 0.6);
}


.b5{
  position:absolute;
  left: 1385px;
  top: 140px;
}

.trending{
  font-family:'lato', sans-serif;
  position: absolute;
  top: 1580px;
  left: 14px;
  font-size: 40px;
  color: #000;
  text-decoration: none;
}

.trends{
  position: absolute;
  top: 1640px;
}

/*img:hover{
  box-shadow: 0 0 2px 1px rgba(128, 128, 128, 0.6);
}*/

.t1{
  position: absolute;
  left: 15px;
  border: solid;
  border-width: 1px;
  border-color: #c4c4c4;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.t1:hover {
  box-shadow: 0 0 2px 1px rgba(128, 128, 128, 0.6);
}

.t2{
  position:absolute;
  left: 350px;
  border: solid;
  border-width: 1px;
  border-color: #c4c4c4;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.t2:hover {
  box-shadow: 0 0 2px 1px rgba(128, 128, 128, 0.6);
}


.t3{
  position:absolute;
  left: 685px;
  border: solid;
  border-width: 1px;
  border-color: #c4c4c4;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.t3:hover {
  box-shadow: 0 0 2px 1px rgba(128, 128, 128, 0.6);
}


.t4{
  position:absolute;
  left: 1020px;
  border: solid;
  border-width: 1px;
  border-color: #c4c4c4;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.t4:hover {
  box-shadow: 0 0 2px 1px rgba(128, 128, 128, 0.6);
}

.t5{
  position:absolute;
  left: 1385px;
  top: 140px;
}

.git{
  font-family:'lato', sans-serif;
  position: absolute;
  top: 2080px;
  left: 14px;
  font-size: 40px;
  color: #000;
  text-decoration: none;
}

.card{
  position: absolute;
  top: 2140px;
  border: solid;
  border-color: #c4c4c4;
  border-width: 1.5px;
  left: 75px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.card:hover {
  box-shadow: 0 0 2px 1px rgba(128, 128, 128, 0.6);
}

.social{
  position: absolute;
  left: 1250px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));


}



.fb{
  position: absolute;
  top: 1560px;
  
}
.fb:hover {
  box-shadow: 0 0 2px 1px rgba(128, 128, 128, 0.6);
}

.ig{
  position: absolute;
  top: 1725px;
}
.ig:hover {
  box-shadow: 0 0 2px 1px rgba(128, 128, 128, 0.6);
}

.tw{
  position: absolute;
  top: 1890px;
}
.tw:hover {
  box-shadow: 0 0 2px 1px rgba(128, 128, 128, 0.6);
}

.contactdetail{
  position: absolute;
  top: 2570px;
  left: 85px;
  font-family: 'Lato', sans-serif;
  font-size: 30px;
  font-weight: 200;
}